
    {% for comments in comment %} 
        {% if arts.moderate == "1" and comments.visible == "1"  or  arts.moderate == "0" or user.id|slugify == profile_user.id|slugify %}

        <div id = "commentImage">
            <img src = "/media/{{comments.user.image}}" height = "50px" />
        </div>
        <div id ="commentText">
                <a href = "/profile/{{comments.user.id}}">
                    {{comments.user.username}}
                </a>
            <div id = "commentMessage">
                {{ comments.comment }}<br>
                {{comments.published_date}}<br>
                {% if user.id|slugify == profile_user.id|slugify or user.id|slugify == comments.user.id|slugify %}
                    <button class = "dels" value = {{ comments.id }}>Delete</button>
                
  
                {% endif %}

                {% if user.id|slugify == profile_user.id|slugify  %}
                    {% if comments.visible == "0" %}
                        <button id = "makeVisible" value = {{comments.id}} >Make Visible</button>
                    {% else %}
                        <button id = "makeInvisible" value = {{comments.id}} >Make Invisible</button>
                    {% endif %}  
                {% endif %}

                
                <br>
            </div>
        </div>
        {% endif %}
    {% endfor %}