{% extends 'base.html' %}

{% block content %}
<div class = "container">
    <table class = "table">
        <tr>
            <th>
                Users
            </th>
            <th>
                Follow
            </th>
        </tr>
    {% for followings in following %}
        <tr>    
            <th><a href = "/profile/{{ followings.follower.id }}"><img src = "/media/{{followings.follower.image}}" height = 50px /></a></th>
            <th><a href = "/notFollow/{{ followings.follower.id }}">Unfollow</a></th>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}