{% extends 'base.html' %}


{% block content %}
    <div class = "container">
    {% for report in artTheftList %}
        <ul class = "list-group">
            <li class="list-group-item">Art Post: {{ report.art.title }}</li>
            <li class="list-group-item">Description: {{ report.description }}</li>
            <li class="list-group-item"><a href = "/artwork/{{ report.art.id }}" >Link</a></li>
        </ul>
    {% endfor %}
    </div>
{% endblock %}